{{!-- <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/about-Us.css" />

  </head>

  <body>
    <nav class="navbar">
      <div class="left-side">
        <div class="text"><img
            src="photos/jkb_logo.png"
            alt=""
            draggable="false"
          /></div>
        <div class="links">
          <a
            href="https://api.whatsapp.com/send/?phone=919768455222&text=Hi&type=phone_number&app_absent=0"
          ><img src="photos/whatsapp.png" alt="" draggable="false" /></a>
          <a
            href="https://www.youtube.com/channel/UC0lmhygv8wJTQbVjF-6QUVg"
          ><img src="photos/youtube.png" alt="" draggable="false" /></a>
          <a href="https://www.instagram.com/jkb_education_group/"><img
              src="photos/instagram.png"
              alt=""
              draggable="false"
            /></a>
          <a
            href="https://in.linkedin.com/company/jkb-education-group?trk=public_profile_topcard-current-company"
          ><img src="photos/linkedin.png" alt="" draggable="false" /></a>
        </div>
      </div>
      <div class="right-side">
        <a class="sub Home" href="/">Home</a>
        <a class="sub Courses" href="">Courses</a>
        <a class="sub Counselling" href="/counselling">Counselling</a>
        <a class="sub Services" href="/it-services">IT Services</a>
        <a class="sub About" href="/about-Us">About Us</a>
      </div>
    </nav> --}}
    <section class="upper-body">
      <div>

        <h1>
          About Us
        </h1>
        <div>

          Welcome to JKB Educational Institute, the epitome of excellence and
          empowerment in the field of engineering education in India. Led by the
          visionary director and esteemed tutor, Mr. Vinayak Shete, we are
          driven by a singular mission to uplift and empower the country's
          youth. Since our establishment in 2011, we have continuously evolved,
          creating a nurturing environment and providing outstanding facilities
          for our students' holistic development.

        </div>

      </div>

    </section>
    <section class="professors">
        {{!-- <div class="boxes">
        <div class="photo">
          
        </div>
        <div class="content">
          <div class="Names">
            ${i.name}
          </div>
          <div class="post">
            ${i.post}
          </div>
          <div class="desc">
            ${i.desc}
          </div>
              
        </div>
      </div> --}}
    </section>
    <footer >
      <p>
        At JKB, we believe in delivering the best learning experiences with
        renowned authors like Prof. N H Dubey, ensuring comprehensive study
        materials and ample growth opportunities for our students. With Mr.
        Vinayak Shete's vast teaching experience, we have positively influenced
        the lives of thousands of aspiring engineers. Moreover, as a testament
        to our commitment to excellence, we cater to the needs of studying
        various programming languages and offer corporate linguistic training.
        </p><br><br>
      <p>
        Beyond academics, we embrace spirituality and mindfulness. Mr. Vinayak
        Shete is actively associated with The Art Of Living Foundation and
        serves as a dynamic youth teacher at the AOL. His deep-rooted passion
        for yoga and meditation resonates within the fabric of our institute,
        fostering a harmonious and balanced educational experience. 
      </p><br><br>
      <p>
        As you explore our website, you will witness the remarkable success
        stories that our institute has nurtured, leaving an indelible mark on
        the educational landscape. Join us at JKB Educational Institute, where
        knowledge meets inspiration, and dreams turn into reality. Together, Let
        Us Embark on a Transformative Journey of Education and Empowerment.
      </p>  <br><br>
    </footer>
  {{!-- </body> --}}
  <script src="js/about-Us.js"></script>

{{!-- </html> --}}