{{!-- <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/counselling.css" />

  </head>

  <body>
    <nav class="navbar">  
      <div class="left-side">
        <div class="text"><img
            src="photos/jkb_logo.png"
            alt=""
            draggable="false"
          /></div>
        <div class="links">
          <a
            href="https://api.whatsapp.com/send/?phone=919768455222&text=Hi&type=phone_number&app_absent=0"
          ><img src="photos/whatsapp.png" alt="" draggable="false" /></a>
          <a
            href="https://www.youtube.com/channel/UC0lmhygv8wJTQbVjF-6QUVg"
          ><img src="photos/youtube.png" alt="" draggable="false" /></a>
          <a href="https://www.instagram.com/jkb_education_group/"><img
              src="photos/instagram.png"
              alt=""
              draggable="false"
            /></a>
          <a
            href="https://in.linkedin.com/company/jkb-education-group?trk=public_profile_topcard-current-company"
          ><img src="photos/linkedin.png" alt="" draggable="false" /></a>
        </div>
      </div>
      <div class="right-side">
        <a class="sub Home" href="/">Home</a>
        <a class="sub Courses" href="">Courses</a>
        <a class="sub Counselling" href="/counselling">Counselling</a>
        <a class="sub Services" href="/it-services">IT Services</a>
        <a class="sub About" href="/about-Us">About Us</a>
      </div>
    </nav> --}}
    {{> navbar}}
    <section class="top-container">
      <div class="Top">
        <div class="video">
          <video poster="photos/jkb-thumbnail.png" controls>
            <source src="" type="video/mp4" />
          </video>
        </div>
        <div class="content">
          <div class="heading">
            <div>Engg. Admission Counselling</div>
          </div>
          <div class="details">
            <ul>
              <li><strong>350+</strong>
                Engineering Colleges in Entire Maharastra</li>
              <li><strong>65+</strong> Colleges Ranking in Mumbai</li>
              <li><strong>120+</strong> Colleges in Pune University</li>
              <li><strong>25+</strong>
                Engineering Branches (CSE vs IT vs AI ML vs AI DS vs IoT)
              </li>
              <li><strong>Grade & Placement</strong>
                of college(Intercollegiate ranking)
              </li>
              <li>Teaching Staff, Campus, Location for daily Travel and Hostel</li>
              <li>Cap-Rounds, Cut off, OPTION form & All Documents</li>
              <li>ARC, SC ,FC Centers</li>
              <li>1st Year Engineering & 4 Years of Journey</li>
            </ul>
            <div>
              <img src="photos/calender.png" alt="" /><span>College Ranking
                Seminar / Webinar
                <br />
              </span>
            </div>
            <div>
              <img src="photos/clock.png" alt="" /><span>Fees / Distance /
                Travel Time / Hostel Admission to Placement Journey</span><br />
            </div>
            <div>
              <img src="photos/msg.png" alt="" /><span>TFWS & EWS Seats</span><br
              />
            </div>
            <div>
              <button>Enroll Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="below_top">
      <div class="text">
        Not Sure Which College?
      </div>
      <div class="btn">
        <a href="predict-college">Predict Engg. College</a>
      </div>
    </section>
    <section class="bottom">
      <div class="box counselling">
        <img src="photos/councselling.png" alt="" />
        <div class="number">45,000+</div>
        <div class="text">Counselling<br />
          Students
        </div>
      </div>
      <div class="box">
        <img src="photos/students.png" alt="" />
        <div class="number">10,000+</div>
        <div class="text">Students<br />
          Trained
        </div>
      </div>
      <div class="box">
        <img src="photos/startup.png" alt="" />
        <div class="number">250+</div>
        <div class="text">Start-Up<br />
          Projects
        </div>
      </div>
      <div class="box box-content">
        {{! <div class="heading">
          4 Years of Mentorship Throughout Your Engineering Journey
        </div>
        <div class="content">
          4 Years of Mentorship Throughout Your Engg. Journey Let us embark on a
          transformative and fulfilling 4-year engineering journey with JKB
          Education & Vinayak sir, where you will be entitled for the following
          perks
        </div> }}
        <div class="list">
          <ol>
            <li>
              <div>1st-Year : Coaching & Foundation Programming (Independent Learner) </div>
              
              <p>Master the academic subjects with amazing exam strategies to
                secure best grades/pointers.</p>
            </li>
            <li>
              <div>2nd-Year : Competitive Programming & Aptitude for Placement</div>
              <p>Focus on competitive programming and aptitude test preparation
                for achieving premium placements.</p>
            </li>
            <li>
              <div>3rd-Year : Industrial Course Training</div>
              <p>Gain expertise in various industrial skills through expert
                training provided by JKBian (Ex-Student) industrial masters
                having 35+LPA packages.</p>
            </li>
            <li>
              <div>Projects and Mastermind for Startup</div>
              <p>Engage in national as well as international level competitions
                and build your startup while completing your degree.</p>
            </li>
          </ol>
        </div>

      </div>
    </section>
    <footer>
      <h2>
        Testimonials
      </h2>
      <div class="yt-videos">

        <div>
        <iframe width="208" height="195" 
        src="https://www.youtube.com/embed/G5g8Gfo8Qc8" 
        title="Chiranjiv Nagrajan sharing his experience with JKB Ed  ucation Group and Vinayak Sir." 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
      <div>
        <iframe width="208" height="195" 
        src="https://www.youtube.com/embed/MbP4Nq-ngQU" 
        title="Pranil Bhalshankar sharing his Experience with JKB Education Group and Vinayak Sir." 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
        </iframe>
      </div>
      <div>
        <iframe width="208" height="195" 
        src="https://www.youtube.com/embed/YD0qA5g5Evo" 
        title="Shravan Chilka shares his experience at JKB Education Group" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
        </iframe>
      </div>
      <div>
        <iframe width="208" height="195" 
        src="https://www.youtube.com/embed/4Gg0j29m1CY" 
        title="Darshana Nikam Sharing her Experience with JKB Education Group and Vinayak Sir." 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
        </iframe>
      </div>  
      <div>
        <iframe width="208" height="195" 
        src="https://www.youtube.com/embed/_ee8q5YHW1c" 
        title="Harshal Bhoir shares his  experience at JKB education Group." 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
        </iframe>
      </div>
      <div>
        <iframe width="208" height="195" 
        src="https://www.youtube.com/embed/AjplxM1tgd4" 
        title="Vishwas Paighan shares his experience at JKB Education Group" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
        </iframe>
      </div>

      </div>  
      
    </footer>

  {{!-- </body>
</html> --}}

 