<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css" />

  </head>

  <body>
    <nav class="navbar">
      <div class="left-side">
        <div class="text"><img
            src="photos/jkb_logo.png"
            alt=""
            draggable="false"
          /></div>
        <div class="links">
          <a
            href="https://api.whatsapp.com/send/?phone=919768455222&text=Hi&type=phone_number&app_absent=0"
          ><img src="photos/whatsapp.png" alt="" draggable="false" /></a>
          <a
            href="https://www.youtube.com/channel/UC0lmhygv8wJTQbVjF-6QUVg"
          ><img src="photos/youtube.png" alt="" draggable="false" /></a>
          <a href="https://www.instagram.com/jkb_education_group/"><img
              src="photos/instagram.png"
              alt=""
              draggable="false"
            /></a>
          <a
            href="https://in.linkedin.com/company/jkb-education-group?trk=public_profile_topcard-current-company"
          ><img src="photos/linkedin.png" alt="" draggable="false" /></a>
        </div>
      </div>
      <div class="right-side">
        <a class="sub Home" href="/">Home</a>
        <a class="sub Courses" href="">Courses</a>
        <a class="sub Counselling" href="/counselling">Counselling</a>
        <a class="sub Services" href="/it-services">IT Services</a>
        <a class="sub About" href="/about-Us">About Us</a>
      </div>
    </nav>
    <section class="upper-container">
      <div class="left-side">

        <video poster="photos/jkb-thumbnail.png" controls>
          <source
            src="https://staticservices.s3.ap-south-1.amazonaws.com/videos/Home+Page+Video.mp4"
            type="video/mp4"
          />
        </video>
        <div class="Buttons_below_video">
          <div class="text">
            Worried about Engginering
          </div>
          <div class="btn">
            <a href="/counselling">Engg Admission Process 2023</a>
          </div>
          <div class="btn">
            <a href="">Contact Us</a>
          </div>
          <div class="btn">
            <a href="predict-college">Predict Engg. College</a>
          </div>

        </div>
        <div class="Desc-cont">
          <div class="heading">Who are we?</div>
          <div class="content">
            JKB Education, led by Mr. Vinayak Shete, is a prestigious
            engineering institute in India with a vision to empower and uplift
            the country's youth in engineering under the guidance of Prof. N H
            Dubey (Author of Engg. Mechanics, Engg. Drawing/Graphics, published
            by TATA McGraw Hill Publications).
          </div>
          <div class="heading">
            What do we do?
          </div>
          <div class="content">
            JKB has continuously evolved to provide  a conducive ecosystem,
            guidance and excellent facilities to students to create their own
            comprehensive study materials, fostering a deeper understanding of
            the subjects and promoting independent learning and academic growth
            throughout the 4 years engineering journey.  At JKB, we recognize
            the importance of holistic development by embracing spirituality and
            mindfulness along with academic pursuit. Mr. Vinayak Shete's
            association with The Art of Living Foundation and his role as a
            dynamic youth teacher at AOL enriches our educational environment
            and creates a pleasant atmosphere that enhances the overall growth
            of our students.
          </div>

        </div>

      </div>
      <div class="right-side">
        <a href="/counselling">
          <div class="box box1">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/1st-Year-Engg-Counselling.jpg"
              alt=""
            />
            <div>Engg. Admission Counselling</div>
          </div>
        </a>
        <a href="">
          <div class="box box2">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/1st-Year-Programming.jpg"
              alt=""
            />
            <div>1st-Year-Programming</div>
          </div>
        </a>
        <a href="">
          <div class="box box3">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/1st-Year-Engg.jpg"
              alt=""
            />
            <div>1st Year Engg. Coaching</div>
          </div>
        </a>
        <a href="/it-services">
          <div class="box box4">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/IT-Services-for-Start-Up.jpg"
              alt=""
            />
            <div>IT Services for Start-Up</div>
          </div>
        </a>
        <a href="">
          <div class="box box5">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/2nd-Year-Programming.jpg"
              alt=""
            />
            <div>2nd Year Programming</div>
          </div>
        </a>
        <a href="">
          <div class="box box6">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/MS-in-US-%26-Europe.jpg"
              alt=""
            />
            <div>MS in US & Europe</div>
          </div>
        </a>
        <a href="">
          <div class="box box7">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/3rd-Year-Programming.jpg"
              alt=""
            />
            <div>3rd Year Programming</div>
          </div>
        </a>
        <a href="">
          <div class="box box8">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/Project-and-Placement.jpg"
              alt=""
            />
            <div>Project & Placement</div>
          </div>
        </a>
        <a href="">
          <div class="box box9">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/Financial-Literacy.jpg"
              alt=""
            />
            <div>Financial Literacy</div>
          </div>
        </a>
        <a href="">
          <div class="box box10">
            <img
              height="124px"
              width="230px"
              src="https://jkbstaticservices.s3.ap-south-1.amazonaws.com/Youth-Empowerment-Skills.jpg"
              alt=""
            />
            <div>Youth Empowerment Hub</div>
          </div>
        </a>

      </div>
    </section>
    <section class="bottom">
      <div class="box counselling">
        <img src="photos/councselling.png" alt="" />
        <div class="number">45,000+</div>
        <div class="text">Counselling<br />
          Students
        </div>
      </div>
      <div class="box">
        <img src="photos/students.png" alt="" />
        <div class="number">10,000+</div>
        <div class="text">Students<br />
          Trained
        </div>
      </div>
      <div class="box">
        <img src="photos/startup.png" alt="" />
        <div class="number">250+</div>
        <div class="text">Start-Up<br />
          Projects
        </div>
      </div>
      <div class="box box-content">
        <div class="heading">
          4 Years of Mentorship Throughout Your Engineering Journey
        </div>
        <div class="content">
          4 Years of Mentorship Throughout Your Engg. Journey Let us embark on a
          transformative and fulfilling 4-year engineering journey with JKB
          Education & Vinayak sir, where you will be entitled for the following
          perks
        </div>
        <div class="list">
          <ul>
            <li>
              Expert coaching in 1st year of engineering 
            </li>
            <li>
              Preparation of placements in 2nd year
            </li>
            <li>
              Specialized industrial training through industrial courses in 3rd
              year
            </li>
            <li>
              Experience in impactful projects & remarkable placement in final
              year
            </li>
          </ul>
        </div>

        <div class="content">
          You can also opt for MS abroad opportunities, pathways to prestigious
          careers or entrepreneurship , or premium government jobs.
        </div>
      </div>
    </section>
    <footer>
      <h2>
        Testimonials
      </h2>
      <div class="yt-videos">

        <div>
          <iframe
            width="208"
            height="195"
            src="https://www.youtube.com/embed/G5g8Gfo8Qc8"
            title="Chiranjiv Nagrajan sharing his experience with JKB Ed  ucation Group and Vinayak Sir."
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>
        <div>
          <iframe
            width="208"
            height="195"
            src="https://www.youtube.com/embed/MbP4Nq-ngQU"
            title="Pranil Bhalshankar sharing his Experience with JKB Education Group and Vinayak Sir."
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>
        <div>
          <iframe
            width="208"
            height="195"
            src="https://www.youtube.com/embed/YD0qA5g5Evo"
            title="Shravan Chilka shares his experience at JKB Education Group"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>
        <div>
          <iframe
            width="208"
            height="195"
            src="https://www.youtube.com/embed/4Gg0j29m1CY"
            title="Darshana Nikam Sharing her Experience with JKB Education Group and Vinayak Sir."
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>
        <div>
          <iframe
            width="208"
            height="195"
            src="https://www.youtube.com/embed/_ee8q5YHW1c"
            title="Harshal Bhoir shares his  experience at JKB education Group."
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>
        <div>
          <iframe
            width="208"
            height="195"
            src="https://www.youtube.com/embed/AjplxM1tgd4"
            title="Vishwas Paighan shares his experience at JKB Education Group"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>

      </div>

    </footer>
  </body>

</html>