<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/it-services.css" />

  </head>

  <body>
    <nav class="navbar">
      <div class="left-side">
        <div class="text"><img
            src="photos/jkb_logo.png"
            alt=""
            draggable="false"
          /></div>
        <div class="links">
          <a
            href="https://api.whatsapp.com/send/?phone=919768455222&text=Hi&type=phone_number&app_absent=0"
          ><img src="photos/whatsapp.png" alt="" draggable="false" /></a>
          <a
            href="https://www.youtube.com/channel/UC0lmhygv8wJTQbVjF-6QUVg"
          ><img src="photos/youtube.png" alt="" draggable="false" /></a>
          <a href="https://www.instagram.com/jkb_education_group/"><img
              src="photos/instagram.png"
              alt=""
              draggable="false"
            /></a>
          <a
            href="https://in.linkedin.com/company/jkb-education-group?trk=public_profile_topcard-current-company"
          ><img src="photos/linkedin.png" alt="" draggable="false" /></a>
        </div>
      </div>
      <div class="right-side">
        <a class="sub Home" href="">Home</a>
        <a class="sub Courses" href="">Courses</a>
        <a class="sub Counselling" href="">Counselling</a>
        <a class="sub Services" href="">IT Services</a>
        <a class="sub About" href="">About Us</a>
      </div>
    </nav>
    <section class="upper-container">
      <div class="video">
        <video  poster="photos/jkb-thumbnail.png" type ="" controls></video>
      </div>
      <div class="image">
        <img src="photos/tailored_software_icon.png" alt="hello">
      </div>
      <div class="text">
        <h3>
          We provide highly tailored IT solutions
        </h3>
        <div>
          For your specific industry we have highly tailored it solutions.
        </div>
      </div>
    </section>
  </body>
</html>