<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/it-services.css" />

  </head>

  <body>
    <nav class="navbar">
      <div class="left-side">
        <div class="text"><img
            src="photos/jkb_logo.png"
            alt=""
            draggable="false"
          /></div>
        <div class="links">
          <a
            href="https://api.whatsapp.com/send/?phone=919768455222&text=Hi&type=phone_number&app_absent=0"
          ><img src="photos/whatsapp.png" alt="" draggable="false" /></a>
          <a
            href="https://www.youtube.com/channel/UC0lmhygv8wJTQbVjF-6QUVg"
          ><img src="photos/youtube.png" alt="" draggable="false" /></a>
          <a href="https://www.instagram.com/jkb_education_group/"><img
              src="photos/instagram.png"
              alt=""
              draggable="false"
            /></a>
          <a
            href="https://in.linkedin.com/company/jkb-education-group?trk=public_profile_topcard-current-company"
          ><img src="photos/linkedin.png" alt="" draggable="false" /></a>
        </div>
      </div>
      <div class="right-side">
        <a class="sub Home" href="/">Home</a>
        <a class="sub Courses" href="">Courses</a>
        <a class="sub Counselling" href="/counselling">Counselling</a>
        <a class="sub Services" href="/it-services">IT Services</a>
        <a class="sub About" href="/about-Us">About Us</a>
      </div>
    </nav>
    <section class="upper-container">
      <div class="video">
        <video poster="photos/jkb-thumbnail.png" type="" controls></video>
      </div>
      <div class="image">
        <img src="photos/tailored_software_icon.png" alt="hello" />
      </div>
      <div class="text">
        <h3>
          We provide highly tailored IT solutions
        </h3>
        <div>
          For your specific industry we have highly tailored it solutions.
        </div>
      </div>
    </section>
    <section class="below">
      <div class="box">
        <div><img src="photos/software_business.png" alt="hello" /></div>
        <div>Software Business</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
      <div class="box">
        <div><img src="photos/education.png" alt="hello" /></div>
        <div>Education</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
      <div class="box">
        <div><img src="photos/sports.png" alt="hello" /></div>
        <div>Sports</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
      <div class="box">
        <div><img src="photos/e-commerce.png" alt="hello" /></div>
        <div>E-Commerce</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
      <div class="box">
        <div><img src="photos/agriculture.png" alt="hello" /></div>
        <div>Agriculture</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
    </section>
    <section class="middle-container">
      <div class="inner-div">

        <div>
          <img src="photos/technology_icon.png" alt="" />
        </div>
        <div>
          <h3>Software Development Technology</h3>
          <div>
            Our strong passion to modern tech trends and best practices drive in
            the development of top-notch solutions that are perfectly tailored
            to provide high quality and affordable software outsourcing
            solutions to growing startup and enterprise companiesin the world.
          </div>
        </div>
      </div>
    </section>
    <section class="middle-stacks">
      {{!-- <div class="stack">
        React JS
      </div> --}}

    </section>
    <section class = "footer">
      <div class="box">
        <div><img src="photos/ui_icon.png" alt="hello" /></div>
        <div>UI/UX Design</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
      <div class="box">
        <div><img src="photos/mobile_icon.png" alt="hello" /></div>
        <div>Mobile App Development</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
      <div class="box">
        <div><img src="photos/web_icon.png" alt="hello" /></div>
        <div>Web Development</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
      <div class="box">
        <div><img src="photos/aiml_icon.png" alt="hello" /></div>
        <div>AIML</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
      <div class="box">
        <div><img src="photos/iot_icon.png" alt="hello" /></div>
        <div>IoT Based Solutions</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
      <div class="box">
        <div><img src="photos/cloud_icon.png" alt="hello" /></div>
        <div>Cloud Development Technology</div>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iste
          alias, dicta est harum soluta quo corporis veritatis quod voluptatem.
        </div>
      </div>
    </section>
  </body>
  <script src="js/it-services.js"></script>
</html>