<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKB Education</title>
    <link rel="stylesheet" href="css/predict-college.css"> 
    
</head>

<body>
    <nav class="navbar">
        <div class="left-side">
            <div class="text"><img src="photos/jkb_logo.png" alt="" draggable="false"></div>
            <div class="links">
                <a href="https://api.whatsapp.com/send/?phone=919768455222&text=Hi&type=phone_number&app_absent=0"><img src="photos/whatsapp.png" alt="" draggable="false"></a>
                <a href="https://www.youtube.com/channel/UC0lmhygv8wJTQbVjF-6QUVg"><img src="photos/youtube.png" alt="" draggable="false"></a>
                <a href="https://www.instagram.com/jkb_education_group/"><img src="photos/instagram.png" alt="" draggable="false"></a>
                <a href="https://in.linkedin.com/company/jkb-education-group?trk=public_profile_topcard-current-company"><img src="photos/linkedin.png" alt="" draggable="false"></a>
            </div>
        </div>
        <div class="right-side">
            <a class="sub Home" href="/">Home</a>
            <a class="sub Courses" href="">Courses</a>
            <a class="sub Counselling" href="">Counselling</a>
            <a class="sub Services" href="">IT Services</a>
            <a class="sub About" href="">About Us</a>
        </div>
    </nav>
    <section class="upper">
        <div class="Intro-Video">
            <video src="" poster="photos/jkb-thumbnail.png" controls>
                <source src="https://staticservices.s3.ap-south-1.amazonaws.com/videos/Engg.+Admission+Counseling.mp4"
                    type="video/mp4">
            </video>
        </div>
        
    </section>
    <section class="lower">
        <div class="doubt">Not sure which college you will get admission ?</div>
        <div class="Predict">
            <h1>Predict Your Engginering College</h1>
        </div>
        <div class="Buttons">
            <div class="btn first">
                <button>Predict Your Engg College By JEE/CET Score</button>
            </div>
            <div class="btn second">
                <button >List Of Engg Colleges in Your District</button>
            </div>
        </div>
    </section>
    <section class="bottom">
        <div class="box counselling">
            <img src="photos/councselling.png" alt="">
            <div class="number">45,000+</div>
            <div class="text" >Counselling<br>
                Students
            </div>
        </div>
        <div class="box ">
            <img src="photos/students.png" alt="">
            <div class="number">10,000+</div>
            <div class="text" >Students<br>
                Trained
            </div>
        </div>
        <div class="box ">
            <img src="photos/startup.png" alt="">
            <div class="number">250+</div>
            <div class="text" >Start-Up<br>
                Projects
            </div>
        </div>
        <div class="box box-content">
            <ul>
                <li>
                    Based on your score in JEE/CET predict a list of colleges where you can get admission, according to the CAP cut-offs.
                </li>
                <li>
                    Enter your score and predict your college in just a few clicks.        
                </li>
                <li>
                    Select the best college from the predicted list to secure admission into the college which is best for you.
                </li>
            </ul>
        </div>
    </section>
</body>

</html>