@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins;
    background-color: #020f16;
}

.navbar{
    display: flex;
    color: antiquewhite;
    justify-content: space-between;
    background-color: #020f16;
    height: 50px;
}
.navbar .left-side{
    display: flex;
    font-size: 25px;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;

}
/* .navbar .left-side .links{
    display: flex;
} */
.navbar .left-side .text{
    /* padding: 10px; */
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.navbar .left-side .links{
    display: flex;
    align-items: center;
}
.navbar .left-side .links a{
    margin: auto 10px;
    display: flex;
    align-items: center;
}  
.navbar .left-side .text img{
    height: 35px;
    width: 60px;
    
}
.navbar .left-side .links a img{
    height: 24px;
    width: 24px;
    margin-left: 25px;

}
.navbar .right-side{
    display: flex;
    margin-right: 20px;
    align-items: center;
    /* font-size: 16px; */
    font-size: 14px;
    font-weight: bold;
}   
.navbar .right-side a{
    text-decoration: none;
    color: antiquewhite;
}
.navbar .right-side a:hover{
    color: #fa8b26;
}
.sub{
    padding: 10px;
    margin: 0 15px;
}


.upper-container{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    justify-content: space-between;
}
.upper-container .left-side{
    width: 55%;
    padding-right: 20px;
}
.upper-container .left-side {
    background-color: #000;
    margin-top: 20px;
    padding: 10px 60px 0px 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    height: 835px;
}
.upper-container .left-side  video{
    height: 400px;
    width: 100%;
    
}
.upper-container .right-side{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    margin-top: 30px;
} 
.upper-container .right-side .box{
    padding-bottom: 5px;
    margin: 5px;
    background-color: #17242b;
    color: #fa8b26;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.upper-container .right-side .box img{
    border-radius: 15px;
}
